= form_for [:users, questionnaire] do |f|
  - if questionnaire.errors.any?
    %div
      %h2
        = "#{pluralize(questionnaire.errors.count, "error")} prohibited this questionnaire from being saved:"
      %ul
        - questionnaire.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :level
    - level_options = Questionnaire.levels.keys.map { |key| [key, Questionnaire.human_attribute_name("levels.#{key}")] }
    = f.collection_radio_buttons :level, level_options, :first, :last do |b|
      = b.radio_button class: 'radio_button_class'
      = b.label class: 'label_class'
  .field
    = f.label :visibility
    - visibility_options = Questionnaire.visibilities.keys.map { |key| [key, Questionnaire.human_attribute_name("visibilities.#{key}")] }
    = f.collection_select :visibility, visibility_options, :first, :last, { prompt: true }
  .field
    = f.check_box :agreed
    = f.label :agreed
  .field
    = f.label :comfortable
    - comfortable_options = [[true,'はい'],[false,'いいえ']]
    = f.collection_radio_buttons :comfortable, comfortable_options, :first, :last do |b|
      = b.radio_button class: 'radio_button_class'
      = b.label class: 'label_class'
  .field
    = f.label :expire_on
    = f.date_field :expire_on
  .field
    = f.label :start_at
    = f.datetime_field :start_at
  .field
    = f.label :end_at
    = f.datetime_field :end_at
  .field{data: { controller: "fields-for" }}
    :ruby
      @questionnaire.labelings.new
      label_id_options = Label.order(:created_at).pluck(:id, :name)
      color_options = Labeling.colors.keys.map { |key| [key, Labeling.human_attribute_name("colors.#{key}")] }

    = f.label :labelings
    = f.fields_for :labelings do |cf|
      %div
        = cf.label :label_id
        = cf.collection_select :label_id, label_id_options, :first, :last, { prompt: true }

        = cf.label :color
        = cf.collection_select :color, color_options, :first, :last, { prompt: true }

        - if cf.object.persisted?
          = cf.label :_destroy
          = cf.check_box :_destroy

      - if cf.index == (f.object.labelings.length - 1)
        %template{data: { fields_for_target: "template" }}
          %div
            = cf.label :label_id
            = cf.collection_select :label_id, label_id_options, :first, :last, { prompt: true }

            = cf.label :color
            = cf.collection_select :color, color_options, :first, :last, { prompt: true }

    %button{type: "button", data: { action: "fields-for#add" }} 入力欄を追加
  .actions
    = f.submit
