%h1
  = "#{Questionnaire.model_name.human}"
  を編集

= render 'form', questionnaire: @questionnaire

= link_to '詳細', users_questionnaire_path(@questionnaire)
|
= link_to '戻る', users_questionnaires_path
