%h1
  -# rubocop:disable Style/RedundantInterpolation
  = "#{Questionnaire.model_name.human}"
  を編集
  -# rubocop:enable Style/RedundantInterpolation

= render QuestionnaireFormComponent.new(questionnaire: @questionnaire)

= link_to '詳細', users_questionnaire_path(@questionnaire)
|
= link_to '戻る', users_questionnaires_path
