!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title PrettierRubySandbox
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    -# = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body
    %p= notice
    %p= alert
    = link_to 'ホーム', users_root_path
    = link_to 'ユーザー一覧', users_users_path
    = link_to 'Listing questionnaires', users_questionnaires_path
    = button_to 'ログアウト', destroy_user_session_path, method: :delete
    = yield
