!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title PrettierRubySandbox
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body.bg-white
    = render "layouts/users/navbar"
    = render "layouts/users/sidebar"
    %div{class: "p-4 sm:ml-64"}
      %div{class: "p-4 border-2 border-gray-200 border-dashed rounded-lg mt-14"}
        - if notice
          %p= notice
        - if alert
          %p= alert
        = yield
